// Resets, Clearfix, etc

// Variables
 
// Media Query Ranges 
 
// Mixins

// Styles
body{
  background-color: orange;
  text-align: center;
  color: #EEE;
}
 
h1, h2, h3, h4{
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}
 
h1{
  padding: 20px;
}
 
h2{
 
}
 
 
.block_family{
  max-width:350px;
  margin:auto;
}
 
.block_family li{
  background-color: #222;
  margin-bottom: 20px;
  padding: 20px;
}